.btn {
  padding: 9px 30px 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 24px;
  outline: none;
}

.btn-dark {
  @extend .btn;

  color: $sacramento-state-green;
  border-color: $sacramento-state-green;
}
.btn-light {
  @extend .btn;

  color: #fff;
  border-color: #fff;

  &:hover {
    color: $sacramento-state-green;
    background-color: #fff;
  }
}
.btn-secondary {
  @extend .btn;

  font-weight: 500;
  color: $deep-jungle-green;
  background-color: #fff;
}
