.btn-dark {
  padding: 9px 30px 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: $sacramento-state-green;
  background: transparent;
  border: 2px solid $sacramento-state-green;
  border-radius: 24px;
}
