.main-footer {
  padding: 66px 24px 64px;
  text-align: center;
  background-color: $dark-green;

  .main-footer-logo {
    img {
      width: 96px;
      height: 24px;
    }
  }
  .main-footer-links {
    padding-bottom: 24px;
    margin-top: 16px;
    a {
      padding: 0 12px;
      color: $white;
      text-decoration: none;
    }
  }
  .main-footer-address {
    color: rgba($white, 0.6);
  }

  .main-footer-social {
    display: flex;
    justify-content: center;
    margin-top: 42px;

    img + img {
      margin-left: 16px;
    }
  }

  .main-footer-copy {
    margin-top: 16px;
    color: rgba($white, 0.6);
  }
}
