.main-footer {
  padding: 66px 24px 64px;
  font-weight: 600;
  text-align: center;
  background-color: $dark-green;

  @include mq($from: tablet) {
    padding: 58px 35px 52px;
  }

  @include mq($from: desktop) {
    padding: 48px 165px;
  }

  .main-footer-logo {
    display: flex;
    justify-content: center;
    img {
      width: 96px;
      height: 24px;
    }
  }
  .main-footer-links {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    margin-top: 16px;
    a {
      padding: 0 12px;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $light-coral;
      }
    }
  }
  .main-footer-address {
    display: flex;
    justify-content: center;
    color: rgba($white, 0.6);
  }

  .main-footer-social {
    display: flex;
    justify-content: center;
    margin-top: 42px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        filter: invert(0.5) sepia(1) saturate(2) hue-rotate(-67deg);
      }
    }

    a + a {
      margin-left: 16px;
    }
  }

  .main-footer-copy {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    color: rgba($white, 0.6);
  }

  @include mq($from: tablet) {
    .main-footer-logo {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 52px;
      img {
        width: 96px;
        height: 24px;
      }
    }
    .main-footer-links {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 24px;
      margin-top: -120px;
      margin-top: 16px;
      a {
        padding: 0;
      }
      a + a {
        padding-left: 24px;
      }
    }
    .main-footer-address {
      display: flex;
      justify-content: flex-end;
      margin-top: -126px;
      text-align: right;
    }

    .main-footer-social {
      display: flex;
      justify-content: flex-start;
      margin-top: 37px;

      img + img {
        margin-left: 16px;
      }
    }

    .main-footer-copy {
      display: flex;
      justify-content: flex-end;
      margin-top: -27px;
    }
  }

  @include mq($from: desktop) {
    .main-footer-logo {
      margin-bottom: 28px;

      img {
        width: 160px;
        height: 40px;
      }
    }
    .main-footer-links {
      margin-top: 0;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;

      a + a {
        padding-left: 40px;
      }
    }
    .main-footer-address {
      display: flex;
      justify-content: flex-start;
      margin-top: -119px;
      margin-left: 286px;
      text-align: left;
    }
    .main-footer-social {
      justify-content: flex-end;
      margin-top: -100px;
      margin-right: -16px;
    }
    .main-footer-copy {
      margin-top: 51px;
      margin-right: -20px;
    }
  }
}
