.get-started {
  padding: 83px 24px 81px;
  text-align: center;
  background-color: $light-coral;
  background-image: url('~@/assets/images/bg-pattern-home-6-about-5.svg');
  background-repeat: no-repeat;
  background-position: left bottom -21px;

  @include mq($from: tablet) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    padding: 0 62px;
  }

  @include mq($from: desktop) {
    height: unset;
    padding: 76px 136px;
    background-position: left bottom;
  }

  .get-started-text {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: $sacramento-state-green;

    @include mq($from: tablet) {
      margin: 0;
    }

    @include mq($from: desktop) {
      font-size: 48px;
      font-weight: bold;
      line-height: 48px;
    }
  }
}
