.build {
  padding-top: 62px;
  padding-right: 22px;
  padding-bottom: 64px;
  padding-left: 22px;
  background-color: $sacramento-state-green;
  background-image: url('~@/assets/images/bg-pattern-home-3.svg');
  background-repeat: no-repeat;
  background-position: right -100px top;

  @include mq($from: tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .build-intro {
    padding-right: 111px;
    margin-bottom: 55px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;

    &::before {
      display: block;
      width: 50px;
      height: 4px;
      margin-bottom: 32px;
      content: '';
      background-color: $light-coral;
    }
  }
}

.build-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  text-align: center;

  @include mq($from: tablet) {
    flex-direction: row;
    padding-right: 15px;
  }

  .build-message {
    @include mq($from: tablet) {
      text-align: left;
    }
  }

  .build-title {
    margin-top: 18px;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    color: $light-coral;
  }
  .build-text {
    margin-top: 7px;
    line-height: 25px;
    color: rgba($white, 0.8);
  }
  .build-icon {
    @include mq($from: tablet) {
      width: 140px;
      background-position: left top;
    }
  }
}

.build-box + .build-box {
  margin-top: 47px;
}

.delivering {
  padding-top: 135px;
  padding-bottom: 160px;
  text-align: center;
  background-color: $deep-jungle-green;
  background-image: url('~@/assets/images/bg-pattern-home-4-about-3.svg'),
    url('~@/assets/images/bg-pattern-home-5.svg');
  background-repeat: no-repeat;
  background-position: left top, right bottom;

  @include mq($from: tablet) {
    padding-top: 100px;
    padding-right: 98px;
    padding-bottom: 100px;
  }

  .delivering-intro {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    .delivering-intro-accent {
      color: $rapture-blue;
    }

    @include mq($from: tablet) {
      padding: 0 50px;
    }
  }
  .delivering-box {
    padding-top: 40px;
    margin-top: 48px;
    background-image: url('~@/assets/images/icon-quotes.svg');
    background-repeat: no-repeat;
    background-position: center top;
  }

  .delivering-box + .delivering-box {
    margin-top: 36px;
  }

  .delivering-text {
    margin-bottom: 18px;
    font-weight: 600;
  }
  .delivering-autor {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: $rapture-blue;
  }
  .delivering-autor-title {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
  }
  .delivering-autor-avatar {
    margin-top: 16px;
    img {
      width: 62px;
      height: 62px;
      border: 2px solid #c4fffe;
      border-radius: 50%;
    }
  }
}
