.icon {
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center top;
}

.icon-person {
  @extend .icon;

  background-image: url('~@/assets/images/icon-person.svg');
}
.icon-cog {
  @extend .icon;

  background-image: url('~@/assets/images/icon-cog.svg');
}
.icon-chart {
  @extend .icon;

  background-image: url('~@/assets/images/icon-chart.svg');
}
