.main-container {
  width: 100%;
  height: 100%;
  background-color: $midnight-green;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-header-logo {
    width: 128px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  padding: 48px 24px;
  color: $white;
  .main-header-menu-trigger {
  }
}

.main-body {
}
