.main-container {
  position: relative;
  // flex-direction: column;
  // justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: $background;
}

.main-header {
  position: relative;
  // display: flex;
  width: 100%;
  height: 156px;
  background-color: $primary;

  .header-shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .shape {
      position: absolute;
      width: 264px;
      height: 824px;
      background: #63baba;
      border-radius: 252px;
      transform: rotate(-135deg);

      &.s1 {
        top: -140px;
      }
      &.s2 {
        top: -146px;
        left: -369px;
      }
      &.d1 {
        top: -283px;
        left: -248px;
      }
      &.d2 {
        top: -660px;
        left: 496px;
      }
    }
  }
}

.shapes-s {
  position: absolute;
  right: 293px;

  @media (max-width: $md) {
    left: 0;
  }
}

.shapes-d {
  @media (max-width: $md) {
    display: none;
  }
}

.main-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 56px 24px;

  @media (min-width: $md) {
    padding: 70px 128px;
  }
}
