* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: $sm;
  height: 100%;
  font-family: Spartan, sans-serif;
  font-size: 15px;
  background-color: #fafafa;
}

body {
  display: flex;
  justify-content: center;
}
