* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 375px;
  height: 100%;
  font-family: Livvic, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  background-color: #fafafa;
  text-rendering: geometricPrecision;
}

body {
  display: flex;
}

.body-1 {
  font-size: 18px / 28px;
  font-weight: 600;
}
.body-2 {
  font-size: 15px / 25px;
  font-weight: 600;
}
a {
  color: #fff;
  text-decoration: none;
}

h2 {
  @extend div;

  padding: 0;
  margin: 0;
  line-height: inherit;
}
