* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: $sm;
  height: 100%;
  font-family: Livvic, sans-serif;
  font-size: 15px / 25px;
  font-weight: 600;
  background-color: #fafafa;
}

body {
  display: flex;
}

h1 {
  font-size: 100px / 100px;
  font-weight: 700;
}
h2 {
  font-size: 48px / 48px;
  font-weight: 700;
}
h3 {
  font-size: 18px / 28px;
  font-weight: 700;
}
.body-1 {
  font-size: 18px / 28px;
  font-weight: 600;
}
.body-2 {
  font-size: 15px / 25px;
  font-weight: 600;
}
