@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Base styles */
:root {
  --color-midnight-green: #014e56;
  --color-light-coral: #f67e7e;
  --color-white: #ffffff;
  --color-rapture-blue: #79c8c7;
  --color-police-blue: #2c6269;
  --color-deep-jungle-green: #004047;
  --color-sacramento-state-green: #012f34;
  --color-dark-green: #002529;
}

/* Mobile menu animation */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease forwards;
}
