import { mount, createLocalVue } from '@vue/test-utils'
import App from '@/App'

// import VueRouter from 'vue-router'

describe('App check', () => {
  // const localVue = createLocalVue()
  // localVue.use(VueRouter)

  const wrapper = mount(App, {
    stubs: ['router-link', 'router-view']
  })
  test.only('is a Vue instance', () => {
    expect(wrapper.vm).toBeTruthy()
  })
})
